vendor/
assets/
Database/
Files/
Template/
core/database/
node_modules/
npm-debug.log
public/core/storage
public/core/hot
storage/*.key
.env.*.php
.env.php
.env
.idea/
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
